body {
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    background-color: grey;
}
.header-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    height: 400px;
}

.header-wrapper h2 {
    width: 55%;
    padding-top: 15px;
    margin-left: 2%;
    color: white;
    font-style: italic;
    font-size: 30px;
    text-align: left;
    float: left;
}

.header-wrapper h4 {
    width: 71.3%;
    margin-top: 80%;
    margin-left: 2%;
    color: white;
    font-style: italic;
    font-size: 15px;
    text-align: left;
    float: bottom;
}

.header-wrapper img {
    margin: 0 0;
    padding: 0;
    float: right;
    width: 65%;
}

.content-wrapper {
    width: 71.3%;
    margin: 0 auto;
    text-align: center;
    /* background-color: rgb(245, 245, 243);
    box-shadow: 3px 3px 5px 0px rgba(174, 173, 173, 0.75);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(174, 173, 173, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(174, 173, 173, 0.75); */
    padding-top: 30px;
}

.footnote-section {
    margin: 0 auto;
    color: #808080;
    margin-top: 70px;
}

.h3_explainer, p {
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    width: 71.3%;
    line-height: 1.4em;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 15px;
}

.content-wrapper h1, .content-wrapper h2 {
    margin-top: 10px;
}

.content-wrapper h3 {
    margin-top: 50px;
}

table {
    width: 71.3%;
}

h1, h2, h3 {
    margin: 0 auto;
    padding: 0;
    width: 71.3%;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.content-wrapper h4 {
    margin: 0 auto;
    padding: 0;
    margin-top: 30px;
}


table {
    margin: 0 auto;
    padding: 0;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border: 0px;
}

hr {
    width: 71.3%;
}

sup {
    font-size: smaller;
    font-weight: normal;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.footnote-ref a, .reference-ref a, .footnote-section a {
    text-decoration: none;
}
