body {
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    background-color: black;
}
.header-wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    height: 80px;
}

.header-wrapper h2 {
    width: 700px;
    padding-top: 15px;
    color: white;
    font-style: italic;
    font-size: 52px;
    text-align: center;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    /* background-color: rgb(245, 245, 243);
    box-shadow: 3px 3px 5px 0px rgba(174, 173, 173, 0.75);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(174, 173, 173, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(174, 173, 173, 0.75); */
    padding-top: 30px;
}

.h3_explainer, p {
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    width: 700px;
    line-height: 1.4em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 15px;
}

.content-wrapper h1, .content-wrapper h2, .content-wrapper h3 {
    margin-top: 10px;
}

h1, h2, h3 {
    margin: 0 auto;
    padding: 0;
    width: 700px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}


table {
    margin: 0 auto;
    padding: 0;
}

